{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>A trustless, decentralized Prediction Market based on next-generation, crypto-currency technologies.</h2>

		<h3>Prediction Market?</h3>

		<p>A prediction market (PM) is a place to buy and sell predictions, much like a stock market is a place to buy and sell stocks. A valid prediction that ends up being true returns value for it's owner, while predictions that turn out false are worth nothing.</p>
		<p>In this way, and at scale, PMs can be used to build the optimal efficient forecast of the future. They aggregate all available information, prefer cheaper info sources to expensive ones, and discourage waste and redundancy.</p>
		<p>A thriving PM has the potentional to aid all sectors of society with useful information so to make better, informed decisions.</p>
		<p>Some of the social benifits of a fair and healthy PM are:</p>
		<ul>
			<li>General forecasting</li>
			<li>Risk-management</li>
			<li>Insurance</li>
			<li>Retirement portfolios</li>
			<li>Recreational gambling</li>
			<li>Funding public projects</li>
		</ul> 

		<h3>How it works</h3>
		<p>Truthcoin is built of a network of expert peers holding the privledge and responsibility to vote on events that have matured and require a concensus to what the truth actually is.  These events are the outcome of decisions that have been purchased by prediction authors seeking some foresignt and clarity from the mass of social information.</p>
		<p class="lead">It's a market harnessing the hive mind of humanity to help direct decisions for a price.</p>

		<br><center>[ INSERT AWESOME INFOGRAM ]</center><br><br>

		<p>Fucking latin! Cras consequat condimentum elit ac iaculis. Duis sodales non eros ac posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vulputate neque luctus aliquet fringilla. Phasellus ornare erat ac lectus feugiat lacinia. Nullam gravida scelerisque lacinia. Vestibulum pellentesque ligula ut porttitor dapibus. Maecenas sodales erat id ex luctus sollicitudin. Sed lobortis arcu vel ultricies varius. Ut blandit tortor id mauris pharetra, et vulputate ex egestas.<p>

	 </div>

</div>
{% endblock %}