{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Marketing<h2>

		<h3>Short Term (1-2 months)</h3>
		<ul>
			<li>Press release to all major print and crypto publications</li>
			<li>Advertising through Bitcoin, Bitcoin Magazine, and iGaming magazine</li>
			<li>Attendance at cryptocurrency and gambling conferences.</li>	
			<li>Announcement of partnership with similar projects and thought leaders (already in contact with Andreas Antonopolous (Blockchain.info), Vitalik Buterin (Ethereum), and Arthur Britto (Ripple Labs)</li>
			<li>Test on college students through CCN</li>
		</ul>

		<h3>Medium Term (2-4 months)</h3>
		<ul>
			<li>Create a basic social betting application for the protocol</li>
			<li>Marketable for iOS and Android.</li>	
			<li>Demonstrate potential applications </li>
			<li>Make available for closed beta</li>	
			<li>Secure major publication article (Wired, TIME, etc.)</li>
		</ul>

		<h3>Long Term (4-12 months)</h3>
		<ul>
			<li>Sponsor Conferences, hackathons, etc. to promote development on Truthcoin platform</li>
			<li>Release open beta</li>
			<li>Market to hedge funds/institutional investors</li>
			<li>Targeted advertising through Google and Facebook</li>
		</ul>

		<br><br>
		<p>In order to properly market the Truthcoin project in the crypto currency space, it will be vital to partner with thought leaders in the industry. This is necessary to build credibility in an environment filled with fraudulent companies and to compete with groups raising millions of dollars to “develop” vaporware. It is very important that the marketplace understand Truthcoin is a legitimate project. Already, we have begun the process of reaching out to and befriending many prominent thought leaders such as Andreas Antonopolous (Blockchain.info), Vitalik Buterin (Ethereum), and Arthur Britto (Ripple Labs). </p>
		<p>Additionally, credibility can be earned by open source code releases and contributions by our development team, as we continue down the path to launch. Already we have been working on solving several unsolved problems in the community, such as the “snapshot problem”.</p>
		<p>The snapshot problem arose from a desire to essentially take a picture of the bitcoin network, like a screenshot.  This snapshot could then be used to distribute a new cryptocurrency in a fairer manner whilst benefiting from the economic costs of time and money used to build the bitcoin network. In addition to this innovation, we are working on several other unsolved problems in cryptography, which will be released in time in order to establish our position as leaders in crypto currency research and development.</p>  
		<p>Our minimum viable product will be a launch of the Truthcoin network, accompanied by several small initial apps. These will most likely be social wagering applications, designed to encourage competition between friends, and will be selectively marketed to key demographics.</p>

		<br>
		<br>
		<h2>Monetization</h2>
		<p>What if you could get a .05% commission on every wager placed in Las Vegas, without owning a casino? This is what Truthcoin offers investors - a way to make money off every prediction made, without owning or being responsible for the contents of the market. Every participating Votecoin holder is eligible to receive a small “trading fee” offered in exchange for their participation (vote). This incentivizes (necessary) participation, and creates tangible value for Votecoin holders (the company, investors, Votecoin purchasers).</p>
		<p>There are many other ways this technology could be monetized, including but not limited to corporate prediction markets, enterprise use, application development, and possible defense industry uses. We believe that the Truthcoin concept and core technology is powerful enough to create demand and innovation in places we can not yet even imagine.</p>
	 </div>

</div>
{% endblock %}