{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>The Team</h2>

		<ul class="team">

			<li class="col-xs-12 col-sm-6"><img src="/static/images/matt_liston.jpg"><div><p>Matt Liston</p>Strategies, Math Magician</div></li>
			<li  class="col-xs-12 col-sm-6"><img src="/static/images/jack_peterson.jpg"><div><p>Jack Peterson</p>Lead Engineer, Software Architect</div></li>
			<li class="col-xs-12 col-sm-6"><img src="/static/images/connor_higgins.jpg"><div><p>Connor Higgins</p>Operations, Business Development</div></li>
			<li class="col-xs-12 col-sm-6"><img src="/static/images/scott_leonard.jpg"><div><p>Scott Leonard</p>Senior Developer, Web Applications</div></li>
			<li class="col-xs-12 col-sm-6"><img src="/static/images/joey_krug.jpg"><div><p>Joey Krug</p>Developer, Core Crypto</div></li>
			<li class="col-xs-12 col-sm-6"><img src="/static/images/jeremy_gardner.jpg"><div><p>Jeremy Gardner</p>Market Strategies, Community Relations</div></li>

		</ul>

	 </div>

</div>
{% endblock %}