{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Truthcoin's Voting and Vote Redistribution</h2>

		<h3>Demonstration</h3>

		<p>The following demostrates Votecoin's process of voting to aquire a decision's concensus and implementing the Reputation Based Vote Redistribution model.</p>

		<br>
		<p>Consider the following simplified scenario where, including yourself, there are a total of 5 owners of Votecoin. Each owner is listed below with the amount of Votecoin they have going into the voting period:</p>

		<table class="owners table table-striped">
			<tr><th>Owner</th><th>Votecoin</th></tr>
			<tr><td>Jack</td><td>8.5</td></tr>
			<tr><td>Jill</td><td>11</td></tr>
			<tr><td>Hansel</td><td>0.5</td></tr>
			<tr><td>Gretel</td><td>2.5</td></tr>
			<tr><td>You</td><td>3</td></tr>
		</table>

		<p>As various decisions in your market mature, they are periodically grouped into a ballot for voting.  The ballots are generated, distributed to Votecoin holders and the voting period begins.  All completed ballots are encrypted and the owners are blind to the decisions of the others.  The ballots are weighted by the number of Votecoin or reputation the owner has.  Complete the example ballot below to calculate the results and the reputation-based redistribution of Votecoin that follows.</p>
	
		<form method='POST' class="clearfix">
			<ul class="ballot list-group">
				<li class="list-group-item clearfix">Tom Cruise is 5 feet, 2 inches tall (plus or minus 1 inch)
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d1" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d1" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d1" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">Russia and Ukraine will go to war on or before July 1, 2014
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d2" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d2" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d2" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">The Chicago Cubs win the 2013 World Series
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d3" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d3" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d3" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">Barack Obama will be impeached by the end of 2013
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d4" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d4" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d4" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
			</ul>
			<button type="sumbit" class="btn btn-default pull-right" id="vote">SUBMIT BALLOT</button>
		</form>

		<pre class='debug well hidden'>

		</pre>

	 </div>

</div>
{% endblock %}

{% block bottomscript %}
<script>
$('form').submit(function(e) {

	e.preventDefault();

	var data = {}
	$('input[type=radio]:checked').each(function(i, input) {
		data[$(input).attr('name')] = $(input).val();
	})
	console.log(data);

	$.ajax({
		url: '/vote',
		data: data,
		method: 'POST',
		success: function(response) {
			//console.log(response);
			var data = JSON.stringify(response, null, 2);  
			$('pre.debug').text(data).removeClass('hidden');

		},
		error: function(response) {
			console.log(response);
		}
	});
});
</script>
{% endblock %}