{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Truthcoin's Voting and Vote Redistribution</h2>

		<h3>Demostration</h3>

		<p>The following demostrates Votecoin's process of voting to aquire a decision's concensus and implementing the Reputation Based Vote Redistribution model. <i>better intro needed</i></p>

		<br>
		<p>Consider the following example ballot and, as a valid owner of one Votecoin, place your votes:</p>
	
		<ul class="list-group">
			<li class="list-group-item clearfix">Tom Cruise is 5 feet, 2 inches tall (plus or minus 1 inch)
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote1">Yes</label>
					<label class="radio-inline"><input type="radio" name="vote1">No</label>
					<label class="radio-inline"><input type="radio" name="vote1">Ambiguous or Indeterminent</label>
				</div>
			</li>
			<li class="list-group-item clearfix">Russia and Ukraine will go to war on or before July 1, 2014
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote2">Yes</label>
					<label class="radio-inline"><input type="radio" name="vote2">No</label>
					<label class="radio-inline"><input type="radio" name="vote2">Ambiguous or Indeterminent</label>
				</div>
			</li>
			<li class="list-group-item clearfix">The Chicago Cubs win the 2013 World Series
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote3">Yes</label>
					<label class="radio-inline"><input type="radio" name="vote3">No</label>
					<label class="radio-inline"><input type="radio" name="vote3">Ambiguous or Indeterminent</label>
				</div>
			</li>
			<li class="list-group-item clearfix">Barack Obama will be impeached by the end of 2013
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote4">Yes</label>
					<label class="radio-inline"><input type="radio" name="vote4">No</label>
					<label class="radio-inline"><input type="radio" name="vote4">Ambiguous or Indeterminent</label>
				</div>
			</li>
		</ul>



	 </div>

</div>
{% endblock %}