{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Truthcoin's Voting and Vote Redistribution</h2>

		<h3>Demostration</h3>

		<p>The following demostrates Votecoin's process of voting to aquire a decision's concensus and implementing the Reputation Based Vote Redistribution model. <i>better intro needed</i></p>

		<p>Consider the following example ballot and, as a valid owner of one Votecoin, place your votes:</p>

		<ul class="list-group">
			<li class="list-group-item">Tom Cruise is 5 feet, 2 inches tall (plus or minus 1 inch)
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote1">YES</label>
					<label class="radio-inline"><input type="radio" name="vote1">NO</label>
				</div>
			</li>
			<li class="list-group-item">Russia and Ukraine will go to war on or before August 1, 2014
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote2">YES</label>
					<label class="radio-inline"><input type="radio" name="vote2">NO</label>
				</div>
			</li>
			<li class="list-group-item">The Chicago Cubs will win the World Series
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote3">YES</label>
					<label class="radio-inline"><input type="radio" name="vote3">NO</label>
				</div>
			</li>
			<li class="list-group-item">My crazy Aunt June will say something racist before the end of the month
				<div class="pull-right">
					<label class="radio-inline"><input type="radio" name="vote4">YES</label>
					<label class="radio-inline"><input type="radio" name="vote4">NO</label>
				</div>
			</li>
		</ul>



	 </div>

</div>
{% endblock %}