{% extends 'base.html' %}
{% block content %}
<div class="row" id="timeline">
   <div class="col-xs-12">
    <h2>Source Code</h2>
    <hr />
    <p>The <a href="https://github.com/AugurProject">Augur project</a> is split into several Github repositories:</p>
    <ul class="nostylelist">
      <li>
        <h4>Augur</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/augur">https://github.com/AugurProject/augur</a></li>
          <li>Maintainers: <a href="mailto:scott.leonard@gmail.com">Scott Leonard</a> &amp; <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Augur runs as a local application, and is accessed via web browser.  This package is intended to be used with both the prototype and production versions of Augur's modular core, which handles all the low-level networking and blockchain operations.</li>
        </ul>
      </li>
      <li>
        <h4>Prototype Core</h4>
        <ul>
          <li>URL: <a href="https://github.com/zack-bitcoin/augur-core">https://github.com/zack-bitcoin/augur-core</a></li>
          <li>Maintainer: <a href="mailto:zack.bitcoin@gmail.com">Zack Hess</a></li>
          <li>Zack's Python implementation of the Augur/Truthcoin core, which extends <a href="https://github.com/zack-bitcoin/basiccoin">Basiccoin</a>'s source code.  Contains all the basic networking, mining, cryptography, event/market creation, and consensus algorithms required for decentralized prediction markets.  Includes CLI commands similar to Bitcoin's RPC command suite.</li>
        </ul>
      </li>
      <li>
        <h4>Website</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/augur.net">https://github.com/AugurProject/augur.net</a></li>
          <li>Maintainers: <a href="mailto:jack@tinybike.net">Jack Peterson</a> &amp; <a href="mailto:scott.leonard@gmail.com">Scott Leonard</a></li>
          <li>Source code for this website.  This may be just a boring, static website, but Jack and Scott built it using Django anyway because they both think Python is pretty okay.</li>
        </ul>
      </li>
      <li>
        <h4>Sidecoin</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/Sidecoin">https://github.com/AugurProject/Sidecoin</a></li>
          <li>Maintainers: <a href="mailto:joeykrug@gmail.com">Joey Krug</a> &amp; <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Sidecoin is a modified version of Bitcoin Core 0.9.1.  It allows Bitcoin holders to trustlessly be awarded coins from a "snapshot" of the blockchain (e.g., awarded Sidecoins in an amount proportional to the number of Bitcoins they hold).  Sidecoin was created by Joey and Jack as a solution to the <a href="https://bitcointalk.org/index.php?topic=563972.0">"Spin-off" problem</a>.</li>
        </ul>
      </li>
      <li>
        <h4>Camera</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/camera">https://github.com/AugurProject/camera</a></li>
          <li>Maintainer: <a href="mailto:joeykrug@gmail.com">Joey Krug</a></li>
          <li>Joey's memory-lean version of znort's C++ <a href="https://github.com/znort987/blockparser">blockparser</a>.  We used Camera to take a "snapshot" of the Bitcoin blockchain -- we took all the public addresses in the network with a substantial balance (over about 20 cents in USD) and sorted them from highest to lowest balance.</li>
        </ul>
      </li>
      <li>
        <h4>Consensus algorithm</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/pyconsensus">https://github.com/AugurProject/pyconsensus</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Standalone Python version of the Principal Component Analysis-based consensus algorithm used by Augur.  This implementation was a joint effort between Jack and <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a>.  It is based on R code from the <a href="https://github.com/psztorc/Truthcoin">Truthcoin</a> repo.</li>
        </ul>
      </li>
      <li>
        <h4>Truthcoin whitepaper</h4>
        <ul>
          <li>URL: <a href="https://github.com/psztorc/Truthcoin">https://github.com/psztorc/Truthcoin</a></li>
          <li>Maintainer: <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a></li>
          <li>The theoretical foundation of the Augur project.  (It inspired all the rest of this stuff!)  This paper covers -- invents, in fact -- the Principal Component Analysis-based consensus algorithm used by our software.  It also details Augur's game-theoretic underpinning.  This repository includes sample code written in R, Python, and C++.</li>
        </ul>
      </li>
    </ul>

    <p>If you have questions about a particular repo -- or just want to pitch in! --  contact the repo's maintainer, create an issue on Github, or just start hacking away and send us a pull request.</p>

   </div>
</div>
{% endblock %}
