{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
   <h3>Source Code</h3>

    <p>The <a href="https://github.com/AugurProject">Augur project</a> is divided among several Github repositories:</p>

    <ul class="nostylelist">
      <li>
        <h4>Prototype GUI</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/Augur-UI">https://github.com/AugurProject/Augur-UI</a></li>
          <li>Maintainer: <a href="mailto:scott.leonard@gmail.com">Scott Leonard</a></li>
          <li>Graphical user interface for the Augur prototype.  Augur-UI has a clean, responsive HTML5 interface, and is intended to be run as a localhost Flask (Python) app alongside the <a href="https://github.com/AugurProject/AugurCore">prototype core</a>.  All of the core client's functionality is accessible from the interface.  For most users, Augur-UI is the easiest way to use the Augur prototype.</li>
        </ul>
      </li>
      <li>
        <h4>Prototype Core</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/AugurCore">https://github.com/AugurProject/AugurCore</a></li>
          <li>Maintainer: <a href="mailto:zack.bitcoin@gmail.com">Zack Hess</a></li>
          <li>Python implementation of the Augur/Truthcoin core.  Contains all the basic networking, mining, cryptography, event/market creation, and consensus algorithms required for decentralized prediction markets.  This code is written as an extension to Zack's earlier project <a href="https://github.com/zack-bitcoin/basiccoin">Basiccoin</a>.  It includes a suite of CLI commands similar to Bitcoin's RPC command suite.</li>
        </ul>
      </li>
      <li>
        <h4>Website</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/augur.net">https://github.com/AugurProject/augur.net</a></li>
          <li>Maintainers: <a href="mailto:jack@tinybike.net">Jack Peterson</a> &amp; <a href="mailto:scott.leonard@gmail.com">Scott Leonard</a></li>
          <li>Source code for this website.  This may be just a boring, static website, but Jack and Scott built it using Django anyway because they both think Python is pretty okay.</li>
        </ul>
      </li>
      <li>
        <h4>SideCoin</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/SideCoin">https://github.com/AugurProject/SideCoin</a></li>
          <li>Maintainers: <a href="mailto:joeykrug@gmail.com">Joey Krug</a> &amp; <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>SideCoin is a modified version of Bitcoin Core.  It allows Bitcoin holders to trustlessly be awarded coins from a "snapshot" of the blockchain (e.g., awarded SideCoins in an amount proportional to the number of Bitcoins they hold).  SideCoin was created by Joey and Jack as a solution to the <a href="https://bitcointalk.org/index.php?topic=563972.0">"Spin-off" problem</a>.</li>
        </ul>
      </li>
      <li>
        <h4>Time-Lapse Cryptography</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/time-lapse-crypto">https://github.com/AugurProject/time-lapse-crypto</a></li>
          <li>Maintainer: <a href="mailto:gotoalanlu@gmail.com">Alan Lu</a></li>
          <li>C++ implementation of the time-lapse cryptography (TLC) protocol, originally outlined by <a href="http://www.eecs.harvard.edu/~cat/tlc.pdf">Rabin and Thorpe</a>.  Augur and TLC are symbiotic: TLC provides an automatic vote-decryption mechanism for Augur; Augur, in turn, provides a financial incentive for users to reliably maintain "time service" nodes.</li>
        </ul>
      </li>
      <li>
        <h4>Snapshot / Blockparser</h4>
        <ul>
          <li>URL: <a href="https://github.com/joeykrug/blockparser-memoryLean">https://github.com/joeykrug/blockparser-memoryLean</a></li>
          <li>Maintainer: <a href="mailto:joeykrug@gmail.com">Joey Krug</a></li>
          <li>Joey's memory-lean version of znort's C++ <a href="https://github.com/znort987/blockparser">blockparser</a>.  We used this modified blockparser to take a "snapshot" of the Bitcoin blockchain -- we took all the public addresses in the network with a substantial balance (over about 20 cents in USD) and sorted them from highest to lowest balance.</li>
        </ul>
      </li>
      <li>
        <h4>Consensus algorithm</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/pyconsensus">https://github.com/AugurProject/pyconsensus</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Standalone Python version of the Principal Component Analysis-based consensus algorithm used by Augur.  This implementation was a joint effort between Jack and <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a>.  It is based on R code from the <a href="https://github.com/psztorc/Truthcoin">Truthcoin</a> repo.</li>
        </ul>
      </li>
      <li>
        <h4>Augur whitepaper</h4>
        <ul>
          <li>URL: <a href="https://github.com/AugurProject/whitepaper">https://github.com/AugurProject/whitepaper</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Implementation details for the production version of Augur, which we are building as an extension to <a href="https://github.com/bitcoin/bitcoin">Bitcoin Core</a>.  This paper describes the structure and locking/unlocking Scripts of the various transactions needed to implement prediction markets using only Bitcoin's input/output-style transactions.</li>
        </ul>
      </li>
      <li>
        <h4>Truthcoin whitepaper</h4>
        <ul>
          <li>URL: <a href="https://github.com/psztorc/Truthcoin">https://github.com/psztorc/Truthcoin</a></li>
          <li>Maintainer: <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a></li>
          <li>The theoretical foundation of the Augur project.  (It inspired all the rest of this stuff!)  This paper covers -- invents, in fact -- the Principal Component Analysis-based consensus algorithm used by our software.  It also details Augur's game-theoretic underpinning.  This repository includes sample code written in R, Python, and C++.</li>
        </ul>
      </li>
    </ul>

    <p>If you have questions about a particular repo -- or just want to pitch in! --  contact the repo's maintainer, create an issue on Github, or just start hacking away and send us a pull request.</p>

   </div>
</div>
{% endblock %}
