{% extends 'base.html' %}
{% block content %}
<div class="row" id="faq">
   <div class="col-xs-12">
   
   <h3>What is Augur?</h3>
   
   <p>Since the beginning of civilization, human beings have attempted to predict the future. Augur is a decentralized, open-source platform for prediction market applications, built on Bitcoin Core. It will fundamentally change the nature of information by increasing its availability and lowering its costs.</p>
   
   <h3>Why a prediction market?</h3>
   
   <p>In a prediction market, information is commoditized, and ultimately, monetized. But a prediction market is more than a market for knowledge of the future -- it's a market for knowledge aggregation in the present.  The better the forecaster, the more they profit.  This makes prediction markets the ideal model for information validation and dissemination.</p>
   
   <h3>Why decentralize?</h3>
   
   <p>Historically, the actions required of a prediction market -- accepting wagers, deciding on the outcome of an event, then paying the wagers back out according to the results -- have been centralized. The simplest approach to aggregating wagers is to have a trustworthy entity maintain a ledger. The simplest way to determine the outcome of an event is to get the answer from a wise, impartial judge, whom all participants in the market trust.</p>
   
   <p>Upon closer inspection, these simple answers fray at the edges: who is this `someone' who is trustworthy enough to maintain a ledger for everyone else? Who is the judge that every participant trusts? And, even if such paragons were found and agreed upon, how could participants be certain they will remain trustworthy once they are granted more power? "Opportunity makes the thief", after all. And, of course, "Power corrupts. Absolute power corrupts absolutely."</p>

   <p>In practice, a larger issue is that these trusted entities represent single points of failure. Prediction markets are often disliked by powerful interests. As the experience of centralized prediction markets -- such as InTrade and TradeSports -- over the past decade has shown, if politically powerful special interest groups want to shut down a website, they will find a way.</p>
   
   <p>Contrast this with the history of Bitcoin. Bitcoin is a cryptographic currency and payment platform that has found an enemy in powerful nation-states and financial institutions. Nevertheless, Bitcoin has thrived: as of November 2014, it has a market capitalization of over five billion U.S. dollars, and it is the anchor of a thriving ecosystem of startups, trade, and technological innovation. This is possible because Bitcoin is decentralized: once it was released, it could not be shut down. Even its pseudonymous creator, Satoshi Nakamoto, cannot stop the cryptocurrency. This is by design: he (or she or they) purposely did not make himself Bitcoin's single point of failure.</p>

   <h3>Why build Augur on Bitcoin Core?</h3>
   
   <p>Bitcoin is a battle tested technology. When a technology represents billions of dollars of assets it becomes a target. Since Bitcoin first achieved mainstream success, it has been a target for many people who would love to break the system. Despite this bullseye on its back, Bitcoin Core code has stood the test of time.  By basing Augur on this tested foundation, we can say with confidence that the platform will be both secure and scalable.</p>
   
   <h3>This sounds familiar - where have I heard of this idea before?</h3>
   
   <p>The Augur project is based on the brilliant work of <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a>. The original <a href="https://github.com/psztorc/Truthcoin">Truthcoin</a> white paper and its accompanying <a href="http://www.truthcoin.info">writings</a> laid the theoretical groundwork for this project.  We are proud to call Paul a friend and look forward to continuing to work with him to refine the prototype, as we move closer to a finished product.</p>

   <hr />
   <h4 class="quote" style="text-align:center">The man that knows what tomorrow holds,<br/>can be king today.</h4>

   </div>
</div>
{% endblock %}
