{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>FAQ</h2>
    <h3>What does Augur aim to accomplish?</h3>
    <p>Traditional PMs have many problems:</p>
    <ol>
      <li>Counterparty risk (must trust whoever is holding the money to use it as promised). CR is why one can't make bets with certain friends.</li>
      <li>The trustworthy PM-administrator must (coincidentally) share your taste in PM topics.</li>
      <li>The PM-administrator would have to be expected to provide service for a length of time (and not be interrupted by an executive's death or regulatory interference).</li>
      <li>PM-administrator would have to offer competitive prices, be economically viable, not go out of business, etc.
This project aims to solve all of these problems.</li>
    </ol>
   </div>
</div>
{% endblock %}
