{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-12">

    <h2>A decentralized platform for prediction markets.</h2>

    <p>11/17/2014: 

    <img src="{{ STATIC_URL }}images/screenshot-center.png" style="max-width:100%; border:1px solid #ccc;" />

    <h3>Free markets work.</h3>

    <p>Unfortunately, despite the unprecedented level of freedom the world has been afforded in the age of the Internet, there is still no free market for forecasts.  This is partially as a result of third party interference and regulation. We believe that individuals, pundits, and media sources, among others, should be rewarded for accurate forecasts, and be penalized for being incorrect. That is how to create an efficient market. Enter Augur, a decentralized prediction market platform for the 21st century, and beyond.</p>

    <p>Instead of living in a world where punditry and rhetoric are rewarded, we envision a world where those who forecast honestly, and accurately, are the ones who are valued, not those with the loudest voices. When a pundit announces that "the claims of climate change alarmists will be proven wrong in the next year", that pundit, or any of their viewers, may create an Augur market for this prediction. Thus, such debates will not be left to scientists to correct. Instead, anyone can have a stake in determining the truth by betting on what they believe will truly happen.</p>

    <p>The potential applications of the Augur project are limitless. The platform has the potential to fundamentally change the ways that individual receive and verify "truth" by providing incentives for honesty in prediction-making.  In practice, the initial  applications of this platform will likely be simple wagers between people interested in common topics -- sports, politics, current events, and so on.  As consumer adoption grows, we expect specialized markets to emerge that will result in an unprecedented availability of previously hidden information.</p>

    <h3>Source</h3>

    <p>The Augur project is divided among several Github repositories:</p>

    <ul class="nostylelist">
      <li>
        <h4>Prototype GUI</h4>
        <ul>
          <li>URL: <a href="https://github.com/scottzer0/Augur-UI">https://github.com/scottzer0/Augur-UI</a></li>
          <li>Maintainer: <a href="mailto:scott.leonard@gmail.com">"Duke" Scott Leonard</a></li>
        </ul>
      </li>
      <li>
        <h4>Prototype Core</h4>
        <ul>
          <li>URL: <a href="https://github.com/zack-bitcoin/Truthcoin-POW">https://github.com/zack-bitcoin/Truthcoin-POW</a></li>
          <li>Maintainer: <a href="mailto:zack.bitcoin@gmail.com">Zack "Bitcoin" Hess</a></li>
        </ul>
      </li>
      <li>
        <h4>Website</h4>
        <ul>
          <li>URL: <a href="https://github.com/tensorjack/augur.net">https://github.com/tensorjack/augur.net</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
        </ul>
      </li>
      <li>
        <h4>SideCoin</h4>
        <ul>
          <li>URL: <a href="https://github.com/tensorjack/sidecoin">https://github.com/tensorjack/sidecoin</a></li>
          <li>Maintainer: <a href="mailto:joeykrug@gmail.com">Joey Krug</a></li>
        </ul>
      </li>
      <li>
        <h4>Bitcoin Snapshot</h4>
        <ul>
          <li>URL: <a href="https://github.com/joeykrug/blockparser-memoryLean">https://github.com/joeykrug/blockparser-memoryLean</a></li>
          <li>Maintainer: <a href="mailto:joeykrug@gmail.com">Joey Krug</a></li>
        </ul>
      </li>
      <li>
        <h4>Consensus Algorithm</h4>
        <ul>
          <li>URL: <a href="https://github.com/tensorjack/pyconsensus">https://github.com/tensorjack/pyconsensus</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
        </ul>
      </li>
      <li>
        <h4>Time-Lapse Cryptography</h4>
        <ul>
          <li>URL: <a href="https://github.com/tensorjack/time-lapse-crypto">https://github.com/tensorjack/time-lapse-crypto</a></li>
          <li>Maintainer: <a href="mailto:gotoalanlu@gmail.com">Alan Lu</a></li>
        </ul>
      </li>
      <li>
        <h4>Augur Whitepaper</h4>
        <ul>
          <li>URL: <a href="https://github.com/tensorjack/Augur">https://github.com/tensorjack/Augur</a></li>
          <li>Maintainer: <a href="mailto:jack@tinybike.net">Jack Peterson</a></li>
          <li>Implementation details for the production version of Augur, which we are building as an extension to <a href="https://github.com/bitcoin/bitcoin">Bitcoin Core</a>.  This paper describes the structure and locking/unlocking Scripts of the various transactions needed to implement prediction markets using only Bitcoin's input/output-style transactions.</li>
        </ul>
      </li>
      <li>
        <h4>Truthcoin Whitepaper</h4>
        <ul>
          <li>URL: <a href="https://github.com/psztorc/Truthcoin">https://github.com/psztorc/Truthcoin</a></li>
          <li>Maintainer: <a href="mailto:truthcoin@gmail.com">Paul Sztorc</a></li>
          <li>The theoretical foundation of the Augur project.  (It inspired all the rest of this stuff!)  This paper covers -- invents, in fact -- the Principal Component Analysis-based consensus algorithm used by our software.  It also details Augur's game-theoretic underpinning.</li>
        </ul>
      </li>
    </ul>

    <p>If you have questions about a particular repo -- or just want to pitch in! --  contact the repo's maintainer, create an issue on Github, or just start hacking away and send us a pull request.</p>

  </div>
</div>
{% endblock %}
