{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <p>Free markets work. Unfortunately, despite the unprecedented level of freedom the world has enjoyed with the internet, there is still no truly free market for information due to third party interference and regulation. If you know something nobody else does, there are ways to benefit from it - but not as easily, or anonymously as there should be. We believe this needs to change. We believe the world will be a better place if this changes.</p>

    <p>Imagine a day when whistleblowers can profit from leaking damaging information, without revealing their identities, while still tipping off the public. You&rsquo;re an accountant at Enron, before the house of cards collapsed. You create a market on Augur: &ldquo;Enron is cooking the books, and the stock price will drop 50% in the next 6 months.&rdquo; You put your life savings into the market. You anonymously leak the damning information, claiming the prize from the market, while tipping off those savvy enough to have made note of your prediction. You did the right thing, you were financially rewarded, and the truth got out.</p>

    <p>This is but one of many potential examples of how Augur has the opportunity to change the ways in which people receive and verify &ldquo;truth&rdquo;, by incentivizing making the truth public knowledge. In practice, most of the applications of this platform will likely be mundane wagers among people interested in common topics such as sports, politics, or current events. But as consumer adoption grows, we expect many specialized markets to emerge which will result in an unprecedented availability of previously unavailable information.  </p>
   </div>
</div>
{% endblock %}
