{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>A trustless, decentralized Prediction Market based on next-generation, crypto-currency technologies.</h2>

		<h3>Prediction Market?</h3>

		<p>A prediction market (PM) is a place to buy and sell predictions, much like a stock market is a place to buy and sell stocks. A valid prediction that ends up being true returns value for it's owner, while predictions that turn out false are worth nothing.</p>
		<p>In this way, and at scale, PMs can be used to build the optimal efficient forecast of the future. They aggregate all available information, prefer cheaper info sources to expensive ones, and discourage waste and redundancy.</p>
		<p>A thriving PM has the potentional to aid all sectors of society with useful information so to make better, informed decisions.</p>

		<p>Some of the social benifits of a fair and healthy PM are:</p>
		<ul>
			<li>General forecasting</li>
			<li>Risk-management</li>
			<li>Insurance</li>
			<li>Retirement portfolios</li>
			<li>Recreational gambling</li>
			<li>Funding public projects</li>
		</ul> 

		<h3>How it works</h3>
		<p>Truthcoin is built of a network of expert peers holding the privilege and responsibility to vote on events that have matured and require a consensus to what the truth actually is.  These events are the outcome of decisions that have been purchased by prediction authors seeking some foresight and clarity from the mass of social information.</p>
		<p class="lead"><i>It's a market harnessing the hive mind of humanity to help direct decisions for a price.</i></p>

		<h2>FAQ</h2>

		<h3>What does Truthcoin aim to accomplish?</h3>
		<p>Traditional PMs have many problems:</p>
		<ol>
			<li>Counterparty risk (must trust whoever is holding the money to use it as promised). CR is why one can't make bets with certain friends.</li>
			<li>The trustworthy PM-administrator must (coincidentally) share your taste in PM topics.</li>
			<li>The PM-administrator would have to be expected to provide service for a length of time (and not be interrupted by an executive's death or regulatory interference).</li>
			<li>PM-administrator would have to offer competitive prices, be economically viable, not go out of business, etc.
This project aims to solve all of these problems.</li>
		</ol>
		<p>Truthcoin aims to solve all of these problems.</p>

		<h3>Whos behind Truthcoin and how to I contact them?</h3>
		<p>Truthcoin is the work of Paul Sztorc.</p>
		<p><a href="mailto:truthcoin@gmail.com">truthcoin@gmail.com</a></p>
		<p><a href="https://twitter.com/Truthcoin">https://twitter.com/Truthcoin</a></p>

		<h3>Where can I find more, in-depth information until my eyes bleed?</h3>
		<p>All of Paul's whitepapers regarding Truthcoin, can be found on his <a href="https://github.com/psztorc/Truthcoin/tree/master/docs">github docs repository</a>.  There you'll find a well organized collection of PDFs going into various details, applications and purpose of Truthcoin, as well as more FAQs.</p>

	 </div>

</div>
{% endblock %}