{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Press Releases</h2>

		<h3>Decentralized Prediction Market Under Development<h3>

		<p>SAN FRANCISCO, California — September 11th, 2014 — Under the working name, “Truthcoin”, a team of developers, programmers, and academics have come together to construct the first decentralized prediction market platform. Truthcoin is being built on top of the Bitcoin protocol, harnessing the cryptocurrency’s blockchain technology to ensure both the integrity and validity of the platform. </p>
		<p>The white paper that outlined the Truthcoin protocol was written by Paul Sztorc, a Yale University statistician. Sztorc serves as a strategic advisor to the project, which is led by Matthew Liston, a mathematician and entrepreneur out of Occidental College. Jack Peterson, who received a Ph.D. in Biophysics from UCSF, serves as CTO and lead developer on the Truthcoin team.</p>
		<p>What separates the Truthcoin platform from InTrade and its successors is its decentralized nature. Instead of relying on one company’s servers, Truthcoin is distributed globally, which ensures that the integrity of the market is maintained, regardless of third-party interference with a single server. The protocol also does not rely on a single entity to confirm whether an event did or did not occur as predicted. In contrast, Truthcoin solves the “Oracle Problem” facing many Bitcoin 2.0 projects, while relying on the same sort of consensus network that has made bitcoin so successful.</p>  
		<p>According to the Central Intelligence Agency, “The record of prediction markets is impressive. For the US Intelligence Community, prediction markets offer a method by which to improve analytical outcomes and to address some of the deficiencies in analytical processes and organization. In the realm of intelligence analysis, prediction markets can contribute to more accurate estimates of long-term trends and threats and better cost-benefit assessments of ongoing or proposed policies.”</p>
		<p>Mr. Liston, the project’s CEO, is even more enthusiastic about this undertaking. “I think this will change the way decisions are made” he said. “Truthcoin will be the platform on which the future of crowdsourced information is built.” Mr. Sztorc feels equally content that his idea is being made into a reality. “askljdas;djjalksdjaskla;dsaksdjlaksjalskda” Joe Costello, lead underwriter of the project said, “This is basically the single coolest project of all time.”</p>

	 </div>

</div>
{% endblock %}