{% extends 'base.html' %}
{% block content %}
<div class="row" id="timeline">
  <div class="col-xs-12">
    <h2>Press &amp; Links</h2>
    
    <p>Hacker News: <a href="https://news.ycombinator.com/item?id=8620201">Wager on Anything Using Bitcoin – Decentralized, Trustless Prediction Markets</a></p>
    
    <p>Bitcointalk: <a href="https://bitcointalk.org/index.php?topic=860629.0">Augur - a decentralized prediction market platform</a></p>
    
    <p>Reddit: <a href="http://www.reddit.com/r/Bitcoin/comments/2mk9xx/augur_a_decentralized_prediction_market_platform/">Augur - a decentralized prediction market platform</a></p>

    <blockquote class="twitter-tweet" lang="en"><p>&quot;Augur: a Decentralized, Open-Source Platform for Prediction Markets&quot; - interesting sidechain concept <a href="http://t.co/9XasFy4swq">http://t.co/9XasFy4swq</a></p>&mdash; Chris Dixon (@cdixon) <a href="https://twitter.com/cdixon/status/534490678756405248">November 17, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en">
        <p>Interesting paper on prediction markets: <a href="http://t.co/9W4jECeaHd">http://t.co/9W4jECeaHd</a></p>&mdash; Charles Hoskinson (@nprojectcharles) <a href="https://twitter.com/nprojectcharles/status/534500808113405952">November 18, 2014</a>
    </blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p>I&#39;m bullish on prediction markets: <a href="http://t.co/VH5aYqU77e">http://t.co/VH5aYqU77e</a> <a href="https://twitter.com/hashtag/innovation?src=hash">#innovation</a> <a href="https://twitter.com/hashtag/cryptocurrency?src=hash">#cryptocurrency</a></p>&mdash; Patrick Smyth (@psmyth01) <a href="https://twitter.com/psmyth01/status/534538716615049216">November 18, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p>Nice step towards integrating prediction markets into journalism. <a href="http://t.co/VzGK7BSRcM">http://t.co/VzGK7BSRcM</a></p>&mdash; Saku Panditharatne (@sknthla) <a href="https://twitter.com/sknthla/status/534443526722158592">November 17, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en"><p>Augur Project | A fully decentralized prediction market <a href="http://t.co/Eu2iIIBDty">http://t.co/Eu2iIIBDty</a></p>&mdash; Jason Brunson (@jasonbrunson) <a href="https://twitter.com/jasonbrunson/status/534563148033171456">November 18, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" lang="en">
        <p>Thought: Dorian Nakamoto saga illustrates pressing need for Bitcoin-based prediction market. That’s something we’d love to fund.</p>&mdash; Marc Andreessen (@pmarca) <a href="https://twitter.com/pmarca/status/443260220379115520">March 11, 2014</a>
    </blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
  </div>
</div>
{% endblock %}
