{% extends 'base.html' %}
{% block content %}
<div class="row" id="timeline">
   <div class="col-xs-12">
    <h2>Timeline</h2>
    <hr />
    <ul style="list-style-type:none;margin:0;padding:0;line-height:22pt;">
      <li><a href="/team">Team</a> formation: September 1, 2014</li>
      <li><a href="{{ STATIC_URL }}augur.pdf">Whitepaper</a> release: November 17, 2014</li>
      <li><a href="/prototype">Alpha test</a>: November 20, 2014</li>
      <li><a href="https://github.com/AugurProject/Sidecoin">Sidecoin</a> release: December 5, 2014</li>
      <li>Crowdsale: May 2015 (approx.)</li>
      <li>Beta test: May 2015 (approx.)</li>
      <li>Launch: November 2015 (approx.)</li>
    </ul>
   </div>
</div>
{% endblock %}
