{% extends 'base.html' %}
{% block content %}
<div class="row" id="prototype">
  <div class="col-xs-12">

    <h2>Augur Prototype</h2>

    <p>The Augur prototype is currently in alpha testing.  Our installation procedures (and other documentation) will get better/easier as time goes on and we smooth out the rough edges!  In the meantime, please <a href="mailto:team@augur.net">email</a> us if you have trouble installing or running the prototype.</p>

    <p>Caution: the Augur prototype is built for rapid testing.  We can't guarantee its security or scalability!  Use it at your own risk :)</p>

    <hr />

    <h2 id="installation">Installation</h2>
    <p>To install the prototype, you must have the following software installed:</p>
    <ol>
      <li><a href="https://www.python.org/downloads/">Python 2.7.x</a></li>
      <li>pip (for Windows users, <a href="http://www.lfd.uci.edu/~gohlke/pythonlibs/#pip">Christophe Gohlke's installer</a> is the recommended way to install pip)</li>
      <li>git (for Windows users, here is <a href="http://git-scm.com/download/win">one option</a>)</li>
    </ol>

    <h3 id="osx">OSX</h3>
    <p>First, install <a href="https://developer.apple.com/downloads/">Xcode command line tools</a>.  Then open a terminal and enter the following commands:</p>
    <pre><code>
  $ sudo pip install numpy
  $ sudo pip install m3-cdecimal
  $ git clone https://github.com/AugurProject/Augur-UI.git
  $ cd Augur-UI
  $ sudo pip install -r requirements.txt
  </code></pre>
      <p>Then you need to install <a href="https://github.com/AugurProject/AugurCore">AugurCore</a>.  The Augur-UI client comes with a script that you can run to install this:</p>
    <pre><code>
  $ ./get-core
  $ python app.py
    </code></pre>

    <h3 id="nix">Linux</h3>
    <p>First, checkout Augur-UI next to AugurCore (or change config path in <code>app.py</code>).  Then enter the following commands:</p>
    <pre><code>
  $ apt-get install python-numpy git
  $ apt-get install libpython-dev
  $ pip2 install m3-cdecimal 
  $ pip install six
  $ git clone https://github.com/AugurProject/Augur-UI.git
  $ cd Augur-UI
  $ pip install -r requirements.txt
  </code></pre>
      <p>Then you need to install <a href="https://github.com/AugurProject/AugurCore">AugurCore</a>.  The Augur-UI client comes with a script that you can run to install this:</p>
    <pre><code>
  $ ./get-core
  $ python app.py
    </pre></code>

    <h3 id="windows">Windows</h4>
    <p>Unfortunately, Windows installation requires a few more steps:<br />
    </p>
    <ol>
      <li>First, make sure you have <a href="https://www.python.org/downloads/release/python-278/">Python 2.7</a> installed. Also, make sure that you have downloaded the <a href="https://github.com/AugurProject/AugurCore">prototype core</a>.  Both programs will need to be extracted to the same directory if you download the zip files.</li>

      <li>You need to install a few dependencies, namely numpy, six, cdecimal and pip, which can all be found <a href="http://www.lfd.uci.edu/~gohlke/pythonlibs/">here</a>. I recommend using Ctrl+F to find them (and make sure you get the newest one that matches your python installation's architecture!)</li>
      
      <li>Once those are installed, you need to download <a href="https://bitbucket.org/pypa/setuptools/raw/bootstrap/ez_setup.py">ez_setup.py</a> (right click on the link and click "Save Target As" and save with the name ez_setup.py.) You should be able to double click this file if you have installed python, and it will run and close on it's own.</li>
      
      <li>Now you need to edit the <code>Path</code> environment variable. To do this, go to the <code>Start menu</code>, right click on <code>Computer</code>, click on <code>Advanced System Settings</code> in the upper left, click <code>Environment Variables</code> in the bottom right, then in the System Variables section, scroll down till you see Path. Click on Path, and click Edit.... Press the <code>Home</code> key to get to the start of the line, then add <code>C:\Python27\Scripts;C:\Python27\;</code> to the start of the line and click <code>OK</code>.</li>
      
      <li>Now go to http://aka.ms/vcpython27 to download and install the windows C compiler for use with pip.</li>
      
      <li>Finally, go back to the <code>Start Menu</code> type <code>cmd</code> and press <code>Enter</code>, then type <code>pip install flask flask-socketio</code>.</li>
    </ol>

    <p>Now, run the UI by double clicking on <code>app.py</code>.</p>

    <hr />

    <h2 id="usage">Usage</h2>

    <p>Once Augur is installed, navigate to <code>http://localhost:9000</code> in your browser, and you should see the Augur interface:</p>

    <p>
      <img src="{{ STATIC_URL }}images/screenshot_node_stopped.png" style="max-width:100%; border:1px solid #ccc;" />
    </p>

    <p>To fire up your local node, click the red "Node stopped" button, then "Start node".  After your node starts, you will see the main Augur interface:</p>

    <p>
      <img src="{{ STATIC_URL }}images/screenshot_11-17-14_1.png" style="max-width:100%; border:1px solid #ccc; padding: 5px;" />
    </p>

<!--     <h3>Adding a Decision</h3>

    <p><img src="{{ STATIC_URL }}images/screenshot_add_decision.png" style="max-width:500px; border:1px solid #ccc; padding: 5px;" /></p>

    <h3>Creating a Branch</h3>

    <p><img src="{{ STATIC_URL }}images/screenshot_create_branch.png" style="max-width:500px; border:1px solid #ccc; padding: 5px;" /></p> -->

    <!-- <ul class="screenshots">
      <li class="col-xs-12 col-sm-4"><img src="{{ STATIC_URL }}images/screenshot_11-17-14_2.png" style="max-width:100%" /></li>
      <li class="col-xs-12 col-sm-4"><img src="{{ STATIC_URL }}images/screenshot_11-17-14_3.png" style="max-width:100%" /></li>
    </ul> -->

    <div style="clear:both"></div>

    <hr />

  </div>
</div>
{% endblock %}
