{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>The Team</h2>
    <ul class="team">
      <li class="col-xs-12 col-sm-6"><img src="/static/images/jack_peterson.jpg"><div><p>Jack Peterson</p>Project Lead, Physicist</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/connor_higgins.jpg"><div><p>Connor Higgins</p>Writer</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/scott_leonard.jpg"><div><p>Scott Leonard</p>Web Developer</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/joey_krug.jpg"><div><p>Joey Krug</p>Hacker</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/jeremy_gardner.jpg"><div><p>Jeremy Gardner</p>Marketing</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/thanos_papaioannou.jpg"><div><p>Thanos Papaïoannou</p>Mathematician, Quant</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/alan_lu.jpg"><div><p>Alan Lu</p>Developer, Cryptographer</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/zack_hess.jpg"><div><p>Zack Hess</p>Developer</div></li>
      <li class="col-xs-12 col-sm-6"><img src="/static/images/chris_caldron.jpg"><div><p>Chris Calderon</p>Developer</div></li>
    </ul>
   </div>
</div>
{% endblock %}
