{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>The Team</h2>
    <ul class="team">
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/jack_peterson.png">
        <div>
          <p>Dr. Jack Peterson</p>
          Project Lead<br />
          <a href="https://twitter.com/tensorjack"><i class="fa fa-twitter fa-1x"></i></a>
          <a href="https://github.com/tensorjack"><i class="fa fa-github fa-1x"></i></a>
          <a href="https://www.linkedin.com/pub/jack-peterson/58/b02/420"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Jack is a physicist and entrepreneur who has successfully led several web and scientific software development projects.  He developed deep interests in distributed networks and cryptocurrencies while finishing his PhD at UCSF.  Jack has published several peer-reviewed articles on networks and information theory.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/joey_krug.jpg">
        <div>
          <p>Joey "Wizard" Krug</p>
          Hacker<br />
          <a href="https://twitter.com/joeykrug447"><i class="fa fa-twitter fa-1x"></i></a>
          <a href="https://github.com/joeykrug"><i class="fa fa-github fa-1x"></i></a>
          <a href="https://www.linkedin.com/in/joeykrug"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Joey recently took a leave of absence from Pomona College (Computer Science) to focus full time on Augur.  Joey has spent most of his life honing his programming skills, and has an in-depth knowledge of Bitcoin Core.  He conducted the first <a href="https://www.youtube.com/watch?v=eDaznzbYKkw">Bitcoin transaction via sound</a>.  Recently, Joey and Jack completed <a href="http://sidecoin.net">SideCoin</a>, which allows new crypto-currencies distributions to be based on a "snapshot" of Bitcoin account balances.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/scott_leonard.jpg">
        <div>
          <p>"Duke" Scott Leonard</p>
          Developer<br />
          <a href="https://twitter.com/scottzer0"><i class="fa fa-twitter fa-1x"></i></a>
          <a href="https://github.com/scottzer0"><i class="fa fa-github fa-1x"></i></a>
          <a href="https://www.linkedin.com/pub/scott-leonard/5/653/a03"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Scott is a full-stack web developer.  He received a degree in Computer Information Systems with an emphasis on Business Administration.  With over twenty years experience working in the field -- for large media companies and on small, open-source projects -- he has developed a holistic perspective on systems design and a critical eye for developing technologies.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/alan_lu.jpg">
        <div>
          <p>Alan Lu</p>
          Developer<br />
          <a href="https://github.com/cag"><i class="fa fa-github fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Alan is a talented programmer, musician, and physics/mathematics prodigy.  He is deeply interested in the mathematics behind Augur, and his work is focused on time-lapse cryptography.  While new to the world of cryptocurrency, he has a strong knowledge of cryptography.  Alan's formidable mathematical skill makes him a major asset to the project.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/zack_hess.jpg">
        <div>
          <p>Zack Hess</p>
          Hacker<br />
          <a href="https://github.com/zack-bitcoin/"><i class="fa fa-github fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Zack is a Python hacker and <a href="http://economicsdetective.com/2014/10/truthcoin-prediction-markets-and-anarchy-with-zack-hess/">anarchist</a> who specializes in making blockchains.  Zack wrote <a href="https://github.com/zack-bitcoin/basiccoin">Basiccoin</a>, which is the blockchain that the Augur prototype is built upon.  He is building <a href="https://github.com/zack-bitcoin/slasher">Slasher</a>, which you can read about <a href="https://blog.ethereum.org/2014/01/15/slasher-a-punitive-proof-of-stake-algorithm/">here</a> and <a href="https://blog.ethereum.org/2014/10/03/slasher-ghost-developments-proof-stake/">here</a>.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/chris_caldron.jpg">
        <div>
          <p>Chris Calderon</p>
          Developer<br />
          <a href="https://github.com/ChrisCalderon"><i class="fa fa-github fa-1x"></i></a>
          <a href="http://www.linkedin.com/in/pythonwiz"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Chris studied mathematics at Whittier College and specializes in Python.  On the Augur project, his focus is on our C++/Bitcoin Core and Ethereum/Counterparty (Serpent) implementations.  Chris does creative programming in his free time.
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/jeremy_gardner.jpg">
        <div>
          <p>Jeremy Gardner</p>
          Marketing<br />
          <a href="https://twitter.com/Disruptepreneur"><i class="fa fa-twitter fa-1x"></i></a>
          <a href="http://www.linkedin.com/in/jg1578"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Jeremy attended both Bard College and University of Michigan, where developed multidisciplinary studies in political strategy. While at Michigan, he founded the College Cryptocurrency Network, an international nonprofit organization, and began to work with several blockchain-related startups.  You can often find him on the road, at a conference or club, extolling the virtues of the blockchain to anybody within earshot. 
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/connor_higgins.jpg">
        <div>
          <p>Connor Higgins</p>
          Marketing<br />
          <a href="http://www.linkedin.com/pub/connor-higgins/48/166/94a"><i class="fa fa-linkedin-square fa-1x"></i></a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
        Connor has a degree in business administration, and has been enamored with Bitcoin since he first realized it was more than just magical internet money. He has 7 years experience working on startups, small businesses, and making winning bets.
      </li>
    </ul>
  </div>

  <div class="col-xs-12">
    <h2>Advisors</h2>
    <ul class="team">
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/vitalik.jpeg">
        <div>
          <p>Vitalik Buterin</p>
          Founder, <a href="https://www.ethereum.org">Ethereum</a><br />
          Writer, <a href="http://bitcoinmagazine.com/">Bitcoin Magazine</a>
        </div>
        <a href="https://twitter.com/VitalikButerin"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://github.com/vbuterin"><i class="fa fa-github fa-1x"></i></a>
        <a href="https://ca.linkedin.com/pub/vitalik-buterin/50/a74/267"><i class="fa fa-linkedin-square fa-1x"></i></a>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/paul_sztorc.jpg">
        <div>
          <p>Paul Sztorc</p>
          Statistician, Yale<br />
          Inventor of <a href="http://www.truthcoin.info">Truthcoin</a>
        </div>
        <a href="https://twitter.com/truthcoin"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://github.com/psztorc"><i class="fa fa-github fa-1x"></i></a>
        <a href="https://www.linkedin.com/pub/paul-sztorc/14/414/9a0"><i class="fa fa-linkedin-square fa-1x"></i></a>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/robin_hanson.jpg">
        <div>
          <p>Robin Hanson</p>
          Chief Scientist, <br /><a href="http://www.consensuspoint.com/">Consensus Point</a><br />
          Economist, George Mason
        </div>
        <a href="https://twitter.com/robinhanson"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://www.linkedin.com/pub/robin-hanson/0/6b/515"><i class="fa fa-linkedin-square fa-1x"></i></a>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </li>
      <li class="col-xs-12 col-sm-6">
        <div style="clear: both;"></div>
        <img src="{{ STATIC_URL }}images/dan_widmaier.jpg">
        <div>
          <p>Dr. Dan Widmaier</p>
          CEO, <a href="https://boltthreads.com/">Bolt Threads</a>
        </div>
        <a href="https://twitter.com/dwidmaier"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://www.linkedin.com/pub/dan-widmaier/1/60/176"><i class="fa fa-linkedin-square fa-1x"></i></a>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </li>
    </ul>
  </div>

  <div class="col-xs-12">
    <h2>Investor</h2>
    <ul class="team">
      <div style="clear: both;"></div>
      <img src="{{ STATIC_URL }}images/joe_costello.png">
      <li class="col-xs-12 col-sm-6">
        <div>
          <p>Joe Costello</p>
          CEO, <a href="http://enlightedinc.com/">Enlighted</a>
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </li>
    </ul>
  </div>

  <div style="clear: both; margin-bottom: 10px;"></div>

  <hr />

</div>
{% endblock %}
