{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>Development Timeline</h2>
    <p>Augur Project Timeline (last updated November 15, 2014)</p>
    <p>Augur team formation: August 15, 2014</p>
    <p>Official white paper release: November 16, 2014 </p>
    <p>Launch of closed alpha prototype: November 18, 2014</p>
    <p>&lsquo;Sidecoin&rsquo; public release: November 20, 2014</p>
    <p>&lsquo;Reputation&rsquo; crowd sale: TBD</p>
    <p>Launch of beta test production version: May 2015</p>
    <p>Launch of full production version: November 2015</p>
    <p> If you are interested in participating in the closed alpha prototype, please contact <a href="mailto:joeykrug@gmail.com">Joey Krug</a>. </p>
   </div>
</div>
{% endblock %}
