{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>Project Timeline</h2>
    <p>Augur team formation: September 1, 2014</p>
    <p>Augur whitepaper release: November 17, 2014</p>
    <p>Augur prototype alpha release: November 18, 2014</p>
    <p>SideCoin release: November 20, 2014</p>
    <p>Augur crowdsale: May 2015 (approx.)</p>
    <p>Augur beta test (production version): May 2015 (approx.)</p>
    <p>Augur launch (production version): November 2015 (approx.)</p>
    <hr />
    <h3>We're looking for testers!</h3>
    <p>If you're interested in participating in our prototype's alpha testing, please <a href="team@augur.net">contact us</a>.
   </div>
</div>
{% endblock %}
