{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
    <h2>Project Timeline</h2>
    <p>Augur Project Timeline (last updated November 15, 2014)</p>
    <p>Augur team formation: August 15, 2014</p>
    <p>Augur whitepaper release: November 16, 2014</p>
    <p>Augur prototype alpha release: November 18, 2014</p>
    <p>SideCoin release: November 20, 2014</p>
    <p>Augur crowdsale: TBD</p>
    <p>Augur beta test (production version): May 2015</p>
    <p>Augur launch (production version): November 2015</p>
    <p>We're looking for testers!  If you're interested in participating in our prototype's alpha testing, please contact <a href="mailto:jack@tinybike.net">Jack Peterson</a> or <a href="mailto:joeykrug@gmail.com">Joey Krug</a>.</p>
   </div>
</div>
{% endblock %}
