{% extends 'base.html' %}

{% block content %}
<div class="row">

	 <div class="col-xs-12">

		<h2>Truthcoin's Voting and Vote Redistribution</h2>

		<h3>Demonstration</h3>

		<p>The following demonstrates Votecoin's process of voting to aquire a decision's concensus and implementing the Reputation Based Vote Redistribution model.</p>

		<br>
		<p>Consider the following simplified scenario where, including yourself, there are a total of 6 owners of Votecoin. Each owner is listed below with the amount of Votecoin they have going into the voting period:</p>

		<table class="owners table table-striped">
			<thead>
				<tr><th>Owner</th><th>Votecoin</th></tr>
			</thead>
			<tbody>
				{% for o in owners %}
				<tr><td>{{ o.name }}</td><td>{{ o.coin }}</td></tr>
				{% endfor %}
			</tbody>
		</table>

		<p>As various decisions in your market mature, they are periodically grouped into a ballot for voting.  The ballots are generated, distributed to Votecoin holders and the voting period begins.  All completed ballots are encrypted and the owners are blind to the decisions of the others.  The ballots are weighted by the number of Votecoin or reputation the owner has.<p>  
		<p>Complete the example ballot below to calculate the results and the reputation-based redistribution of Votecoin.</p>
	
		<form method='POST' class="clearfix">
			<ul class="ballot list-group">
				<li class="list-group-item list-group-item-info center">EXAMPLE BALLOT</li>
				<li class="list-group-item clearfix">Tom Cruise is 5 feet, 2 inches tall (plus or minus 1 inch)
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d1" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d1" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d1" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">Russia and Ukraine will go to war on or before July 1, 2014
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d2" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d2" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d2" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">Lee Harvey Oswald acted alone in the assasination of JFK
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d3" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d3" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d3" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">The Chicago Cubs win the 2013 World Series
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d4" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d4" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d4" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
				<li class="list-group-item clearfix">Barack Obama will be impeached by the end of 2013
					<div class="pull-right">
						<label class="radio-inline"><input type="radio" name="d5" value=1>True</label>
						<label class="radio-inline"><input type="radio" name="d5" value=0>False</label>
						<label class="radio-inline"><input type="radio" name="d5" value=0.5>Ambiguous or Indeterminent</label>
					</div>
				</li>
			</ul>
			<button type="sumbit" class="btn btn-default pull-right" id="vote">SUBMIT VOTES</button>
			<p id="error" class="hidden pull-right"></p>
		</form>

		<div id="results" class="hidden">

			<h3>The Results</h3>
			<p>With all the ballots in or the voting period expired, the votes and participation are tallied and each owner is rewarded or penalized Votecoin based on their voting.  To determine the new Votecoin distribution, we're using a modified version of the statistical technique called <a href="http://en.wikipedia.org/wiki/Principal_component_analysis">Principal Component Analysis</a>.</p>

			<p>Each owner would recieve the following Votecoin distribution at completion of the voting period.</p>
			<table class="owners table table-striped">
				<thead>
					<tr><th>Owner</th><th>Old Votecoin</th><th>New Votecoin</th></tr>
				</thead>
				<tbody>
					{% for o in owners %}
					<tr><td class='name'>{{ o.name }}</td><td class='reward'></td><td class='coin'></td></tr>
					{% endfor %}
				</tbody>
			</table>

			<p>For more information on this reputation based coin redistribution, <a href="https://github.com/psztorc/Truthcoin/tree/master/docs">see Paul Sztorc's white paper</a>.<p>

			<pre class="debug well hidden">
			</pre>

		</div>

	 </div>

</div>
{% endblock %}

{% block bottomscript %}
<script>

var initialVotecoin = [{% for o in owners %}{{ o.coin }},{% endfor %}]

$('form').submit(function(e) {

	e.preventDefault();

	var data = {}
	var decisions = 5;
	$('input[type=radio]:checked').each(function(i, input) {
		data[$(input).attr('name')] = $(input).val();
		decisions -= 1;
	})

	if (decisions != 0) {
		var error = 'Please vote on ALL questions';
		$('#error').text(error).removeClass('hidden');
		return;
	} else {
		$('#error').text('').addClass('hidden');
	}

	$.ajax({
		url: '/vote',
		data: data,
		method: 'POST',
		success: function(response) {
			
			// populate results
			$(response.owners).each(function(i, owner) {
				$($('#results .owners tbody tr')[i].children[1]).text(parseFloat(owner.coin).toFixed(4));
				$($('#results .owners tbody tr')[i].children[2]).text(parseFloat(owner.newCoin).toFixed(4));
			});

			$('#results').removeClass('hidden');

  			// raw debug
			// var debug = JSON.stringify(response.raw, null, 2);
			// $('.debug').text(debug).removeClass('hidden');
		},
		error: function(response) {
			console.log(response);
		}
	});
});
</script>
{% endblock %}